@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="DeleteAll">Delete All Movies</a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<form asp-action="DeleteSelected">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <strong> Select </strong>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSort"]" 
                    asp-route-searchString="@ViewData["SearchTitle"]" asp-route-movieGenre="@ViewData["SearchGenre"]"> Title</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]" 
                    asp-route-searchString="@ViewData["SearchTitle"]" asp-route-movieGenre="@ViewData["SearchGenre"]">@Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GenreSort"]" 
                    asp-route-searchString="@ViewData["SearchTitle"]" asp-route-movieGenre="@ViewData["SearchGenre"]">@Html.DisplayNameFor(model => model.Movies[0].Genre)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSort"]"
                    asp-route-searchString="@ViewData["SearchTitle"]" asp-route-movieGenre="@ViewData["SearchGenre"]">@Html.DisplayNameFor(model => model.Movies[0].Price)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSort"]"
                    asp-route-searchString="@ViewData["SearchTitle"]" asp-route-movieGenre="@ViewData["SearchGenre"]">@Html.DisplayNameFor(model => model.Movies[0].Rating)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movies)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@item.Id" name="selectedMovies">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Delete Selected Movies" class="btn btn-danger" />
</form>